<link rel="stylesheet" href="{{ 'gallery-section.css' | asset_url }}" media="print" onload="this.media='all'">

<section>
  <div class="container">
    <div class="row">
      <div class="col-8"></div>
      <div class="col-4"></div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Gallery Section",
  "settings": [],
  "presets": [
    {
      "name": "Gallery Section",
      "category": "custom"
    }
  ]
}
{% endschema %}
