<link rel="stylesheet" href="{{ 'how-it-works-section.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="container my-5">
  <h2 class="how-it-works__title">{{ section.settings.title }}</h2>

  <div class="how-it-works__content col-12">
    <div class="row flex-nowrap justify-content-center">
      {% for block in section.blocks %}
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="steps__box p-5" style="min-height: 550px;">
            <div class="steps__image">
              <img
                src="{{ block.settings.box_image | image_url }}"
                alt="{{ block.settings.box_image }}"
                class="img-fluid mb-3"
                width="330"
                height="500"
              >
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "How It Works",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Title",
      "default": "How it works"
    }
  ],
  "blocks": [
    {
      "type": "step_section",
      "name": "Step Section",
      "settings": [
        {
          "type": "image_picker",
          "id": "box_image",
          "label": "Step Image"
        },
        {
          "type": "text",
          "id": "box_title",
          "label": "Step 1",
          "default": "Step 1"
        },
        {
          "type": "text",
          "id": "box_text",
          "label": "Text",
          "default": "Content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "How It Works Section"
    }
  ]
}
{% endschema %}
