.first-img{
    background-image: url(first-image.png);
    width: 480px;
    height: 357px;
}

.second-img{
    background-image: url(second-img.png);
    width: 786px;
    height: 459px;
}

.third-img{
    background-image: url(third-img.png);
    width: 380px;
    height: 527px;
}

.fourth-img{
    background-image: url(fourth-img.png);
    width: 380px;
    height: 294px;
}