.gallery{
    background-color: #D4ECE8;
    padding: 40px;
}

.first-img{
    background-image: url(first-image.png);
    height: 357px;
    border-radius: 5px;
    aspect-ratio: 16/15;
    display: grid;
}

.second-img{
    background-image: url(second-img.png);
    height: 459px;
    margin: 20px 0;
    background-repeat: no-repeat;
    border-radius: 5px;
    aspect-ratio: 3/2;
}

.third-img{
    background-image: url(third-img.png);
    max-width: 380px;
    height: 527px;
    margin: 20px 0 20px 0;
    border-radius: 5px;
    aspect-ratio: 2;
}

.fourth-img{
    background-image: url(fourth-img.png);
    max-width: 380px;
    height: 294px;
    border-radius: 5px;
    aspect-ratio: 2;
}

.gallery-heading{
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-483729);
    text-align: center !important;
    font: normal normal normal 50px/57px Mouse Memoirs;
    letter-spacing: 0px;
    color: #483729;
    text-transform: capitalize;
    opacity: 1;
    margin: 0 auto;
}

.gallery-subheading{
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-483729);
    text-align: center;
    font: normal normal normal 18px/28px Noto Sans Display;
    letter-spacing: 0px;
    color: #483729;
    opacity: 1;
    margin: 0 auto 50px;
}

.gallery-content{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 30px #00000029;
    opacity: 1;
    width: 400px;
    height: 300px;
    padding: 40px;
    margin-left: 45%;
    margin-top: 3.5%;
    position: absolute;
    z-index: 1;

}

.gallery-icon{
    width: 128px;
    height: 127px;
    margin-top: -50px;
    justify-self: center;
}

.gallery-text{
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-483729);
    text-align: center;
    font: normal normal normal 18px/28px Noto Sans Display;
    letter-spacing: 0px;
    color: #483729;
    opacity: 1;
    margin-top: -60px;
}

.subscribe-button {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 10px 30px;
    gap: 1rem;
    border-radius: 5px;
    color: #483729 !important;
    background-color: #7EC6BC;
    max-width: 45rem;
    border: none !important;
    word-break: break-word;
    font: 18px/28px Mouse Memoirs;
    margin-top: 10px;
    width: fit-content;
    margin-left: 30%;
    font-weight: 500;
  }
  
  .subscribe-button:hover{
    background-color: #428b81;
    color: rgb(239, 232, 232) !important;
    border: none !important;
    text-decoration: none;
  }

  @media (max-width: 1200px){
    .second-img{
        aspect-ratio: 1.3;
    }
  }
  @media (max-width: 1024px){
    .gallery-icon{
        margin-top: -50px;
    }
    .gallery-content{
        justify-self: center;
        width: 300px;
        height: 400px;
        margin-left:55%;
        display: grid;
        margin-top: -30px;
    }

    .subscribe-button{
        margin-left: 30px;
        margin: 0;
        justify-self: center;
    }
    .second-img{
        aspect-ratio: 0.99;
    }
  }

  @media (max-width: 768px){
    .gallery-content{
        justify-self: center;
        width: 300px;
        height: 400px;
        margin-left: 0;
        display: grid;
        margin-top: -430px;
    }
    .subscribe-button{
        margin: 0;
        font-size: 14px;
        justify-self: center;
    }
    .second-img{
        aspect-ratio: 0.83;
    }
    .gallery-subheading{
        margin-bottom: 400px;
    }
  }

  @media (max-width: 480px){
    .gallery-content{
        justify-self: center;
        height: fit-content;
        margin-left: 0;
        display: grid;
        margin-top: -400px;
    }
    .first-img{
        display: grid;
    }
    .second-img{
        aspect-ratio: 0.83;
    }
    .gallery-subheading{
        margin-bottom: 420px;
    }
  }