.testimonial-heading{
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-483729);
    text-align: center !important;
    font: normal normal normal 50px/57px Mouse Memoirs;
    letter-spacing: 0px;
    color: #483729;
    text-transform: capitalize;
    opacity: 1;
    margin: 0 auto;
}

.swiper-slide {
    transition: transform 0.3s ease;
    box-shadow: none !important;
    width: 80%;
    background-color: #EAE8E7;
  }

/* .swiper-slide-active .swiper-slide__item {
    transform: scale(1.1);
    background-color: none; 
    font-size: 26px !important; 
} */
  
.swiper-slide__item {
    background-color: none; 
    transition: background-color 0.3s ease, transform 0.3s ease, font-size 0.3s ease; 
    font-size: 20px; 
}
  
/* .swiper-slide:not(.swiper-slide-active) .swiper-slide__item {
    background-color: none; 
    font-size: 20px;
} */

.card{
    background-color: #EAE8E7 !important;
    margin: 0 auto;
    width: 100%;
    border: none !important;
}

.swiper-slide__rating{
    color: #DB7623 !important;
    font-size: 2.5rem;
}

.testimonial-text{
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-483729);
    text-align: center;
    font: normal normal normal 22px/34px Noto Sans Display;
    letter-spacing: 0px;
    color: #483729;
    opacity: 1;
}